body {
    background: linear-gradient(90deg, black 5%, red 35%, black 100%);
}

.principal {
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
    width: 75%;


}

.tempo {
    color: white;
}

.tempo strong {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-size: 50px;
}



#botao_inicial {
    border: white solid 2px;
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 100px;
}

#botao_inicial strong {
    color: white;
    font-size: 20px;
}


.principal h1 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    margin: 0;
    font-size: 75px; color: #fffdd9;
}